<div class="bg-gradient-to-b from-cyan-950 md:to-indigo-100">
  <!-- Nav-bar -->
  <nav class="flex justify-start items-center w-full px-5 py-3">
    <div class="font-mono text-3xl tracking-tight font-bold text-slate-50 ">The Fyle Challange</div>
    <div class="flex justify-evenly items-center">
        <input class="ml-60 mr-3 mt-1 w-96 py-1 px-8 rounded text-lg font-light text-slate-50 bg-slate-600" type="text" placeholder="Search for Github usernames.." #box/>
        <button class="text-2xl font-light text-slate-50" (keypress)="getInput(box.value)" (click)="getInput(box.value)"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
  </nav>

  <app-githubcomponent [userId]="inputName" [getUser]="getUser" [getRepo]="getRepo" [repos]="inputRepo" [getLanguage]="getLanguage" [languages]="inputLanguage"></app-githubcomponent>

  <!-- <button (click) = "indexChange(-10)">Back</button>
  <button (click) = "indexChange(10)">Forword</button> -->
</div>
